{{- $form := .Param "form" }}
{{- $title:= print site.Params.title " - " .Title -}}
{{- $link := .Permalink }}
{{with $form.subject}}<input type="hidden" name="{{.}}" value="{{$title}}">{{end}}
{{with $form.key}}<input type="hidden" name="{{.}}" value="{{$form.value}}">{{end}}
{{with $form.link}}<input type="hidden" name="{{.}}" value="{{$link}}">{{end}}
{{with $form.reply}}<input type="hidden" name="{{.}}" value="{{$form.replyValue}}">{{end}}
{{with $form.check}}<input type="checkbox" name="{{.}}" style="display:none;">{{end}}
<div>
  <button type="submit">Send</button>
</div>
