{{define "bodyClass"}}page survey{{end}}
{{define "main"}}
<main>
  <h2>{{.Title}}</h2>
  {{.Content}}
  {{- $form := partial "forminit" . }}
  <form action="{{ $form.api }}" method="post">
    <ol>
    {{range $index, $item := .Params.survey}}
    {{$index := add $index 1}}
      <li>
        <label for="Q{{$index}}">{{$item.question}}</label>
        {{if $item.answer}}
        <div>
        <select id="Q{{$index}}" name="{{$form.prefix}}{{$item.question}}" required>
          <option value="" ></option>
          {{range $item.answer}}
            <option value="{{.}}" name="{{.}}">{{.}}</option>
          {{end}}
        </select>
        {{else}}
        <input id="Q{{$index}}" name="{{$form.prefix}}{{$item.question}}" type="text" required>
        {{end}}
        </div>
      </li>
    {{end}}
    </ol>
    {{- partial "formsend" . }}
  </form>
</main>
{{end}}