/* customize Eclectic theme */

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 4vw;
  padding: 10px 0 20px 0;
}

:root {
  --content-padding: 10px;
}

ul, ol {
  padding: 0 0 0 5px;
}

blockquote:before {
  font-family: _serif;
  content: open-quote;
  font-size: 4vw;
  float: left;
}

blockquote p {
  text-align: center;
  font-size: 3vw;
}

blockquote:after {
  font-family: _serif;
  content: open-quote;
  font-size: 4vw;
  float: right;
}

footer {
  background-color: #f8f8f8;
}

footer p, footer h2, footer li time {
  color: var(--hover-color);
  background-color: #f8f8f8;
}

footer h2 {
  margin-top: 10px;
}

footer div section p:hover {
  color: var(--hover-color);
}

#copyright, #copyright a {
  color: var(--shade-color);
}


article ol li ul {
  padding-left: 30px;
}

p:hover, li:hover {
  color: var(--text-color);  
}

a:hover {
  text-decoration: underline dotted;
  filter: brightness(100%);
}

footer>* {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tags {
  padding-bottom: 10px;
}