{{ define "bodyClass" }}home{{ end }}
{{ define "main" }}

<section id="hero">
  <!-- {{ partialCached "logo" . }} -->
  {{ partialCached "hero" . }}
  <div class="intro">
    <h1>{{ partial "capitalize" .Title }}</h1>
    {{ with .Param "subtitle" }}<h2>{{ . | markdownify }}</h2>{{ end }}
    <a href="{{ relref . (.Param "explore") }}">Explore</a>
    {{ partialCached "menu" (dict "Menu" site.Menus.footer) "footer" }}
  </div>
</section>

{{- with (partialCached "products" .) }}
<section id="store">
  <h1>Our Products</h1>
  <ul class="posts">
  {{- range $i, $value := . }}
  {{- if gt $i 0 }}
    {{- $name := index $value 0 }}
    {{- $price := index $value 2 }}
    {{- $rating := index $value 3 }}
    {{- $post := index $value 4 }}
    <li>
      <a href="{{ $post }}">
        {{- $img := resources.GetMatch (print "image/products/" $name ".*") | images.Filter (images.Overlay (resources.GetMatch "image/watermark.*") 0 0 ) }}
        {{- $img := $img.Resize "500x webp" }}
        <img src="{{$img.RelPermalink}}" alt="{{$name}}">
        <h2>{{$name}}</h2>
        <div class="price">$ {{$price}}</div>
        <div class="rating">
        {{- range (seq $rating)}}&starf;{{ end -}}
        {{- range seq (sub 5 ($rating | int))}}&star;{{ end -}}
        </div>
      </a>
    </li>
  {{ end -}}
  {{ end -}}
  </ul>
</section>
{{ end -}}

<section id="description">
  {{ .Content }}
</section>

{{- with (where site.RegularPages ".Section" "in" site.Params.mainSections) }}
<section id="blog">
  <h1>From our blog</h1>
  <ul class="posts">
  {{- range first 3 . }}
    {{/*  {{partialCached "card.html" . .RelPermalink}}  */}}
    {{- .Render "card" -}}
  {{ end -}}
  </ul>
</section>
{{ end -}}

{{- with .Param "testimonials"  }}
<section id="testimonials">
  <h1>Testimonials</h1>
  <div>
    <ol>
    {{- range . }}
      <li>
        <p>{{ .content }}</p>
        <div>
          <h2>{{ .author }}</h2>
          <h3>{{ .from }}</h3>
        </div>
      </li>
    {{ end -}}
    </ol>
  </div>
</section>
{{ end -}}

{{ end -}}