<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="./css/index.css">
    <title>{{ .Site.Title }}</title>
  </head>
  <body class="home">
    <section>
      <img src="./image/logo.svg" alt="Acme Logo" width="64"/>
      <h1>{{ .Site.Title }}</h1>
      <h2>Shaping the world for you to live in</h2>
      <a href="./blog">Explore</a>
    </section>
    <footer>
      <a href="./about">About</a>
      <a href="./blog">Blog</a>
      <a href="./news">News</a>
      <a href="./contact">Contact</a>
      <a href="./credits">Credits</a>
      <a href="./privacy">Privacy Policy</a>
      <a href="./terms">Terms of Use</a>
    </footer>
  </body>
</html>